$background-color: #fff;
$color: #000;
$font-family: "Noto Sans CJK JP", "Hiragino Sans", "Droid Sans", sans-serif;

* {
    appearance: none;
    background: none transparent;
    border: 0 solid #000;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: inherit;
    user-select: none;
}

html,
body {
    height: 100%;
}

body {
    background-color: $background-color;
    color: $color;
    font: normal 1rem $font-family;
    display: flex;
}

#container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
