* {
    appearance: none;
    background: none transparent;
    border: 0 solid #000;
    box-sizing: border-box;
    color: inherit;
    font: inherit;
    margin: 0;
    padding: 0;
    text-decoration: inherit;
}
body {
    background-color: #fff;
    color: #000;
    font: 1rem/2rem sans-serif;
    padding: 8px;
}
